.header{
    width: 100%;
    height: 70px;
    line-height: 70px;
}
.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.logo img{
    width: 35px;
    height: 35px;
}
.logo